@media screen and (max-width: 651px){
    /*         NAV         */
    nav {
        padding: 56px;
    }
    ul {
/*        display: none;*/
        position: absolute;
        top: 112px;
        right: 0px;
    }
    nav li {
        display: none;
        padding: 10px;
        color: #f3f5f8;
        background-color: #cbd1d2;
    }

    /*  Hamburger   */
    .hamburger {
        display: block;
    }

}